.address {
    margin-top: 20px;
    font-style: normal;

    &__list {
        display: flex;
        gap: 9px;
        flex-direction: column;
    }

    &__item {}

    &__link {
        color: $contact-color;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $timing-animation;
    }

    &__link--map {
        color: $hero-color;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}