.form-subscribe {
    display: flex;

    &__label {
        display: flex;
    }

    &__input {
        width: 358px;
        margin-right: 12px;
        padding: 0px 16px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $subscribe-input-border;

        font-size: 16px;
        line-height: 1.25;
        color: $hero-color;

        transition: border 250ms $timing-animation;
    }

    &__input::placeholder {
        color:$contact-color;
    }

    &__input:hover,
    &__input:focus {
        border: 1px solid $accent-color;
    }
}