.logo {
    
    color: $accent-color;

    font-family: $fonts-second;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;

    &__text {
        color: $logo-color;
    }

    &__text--inverse {
        color: $hero-color;
    }
}